/* === LowDesign Contrast Tokens (atoms) === */
:root {
  --ld-white: rgba(245, 246, 249, 1);
  --ld-white-rgb: 245 246 249;
  --ld-black: rgba(13, 13, 21, 1);
  --ld-black-rgb: 13 13 21;
  --ld-gray-100: rgba(245, 246, 249, 1);
  --ld-gray-100-rgb: 245 246 249;
  --ld-gray-125: rgba(242, 243, 247, 1);
  --ld-gray-125-rgb: 242 243 247;
  --ld-gray-150: rgba(232, 233, 237, 1);
  --ld-gray-150-rgb: 232 233 237;
  --ld-gray-200: rgba(239, 240, 244, 1);
  --ld-gray-200-rgb: 239 240 244;
  --ld-gray-225: rgba(225, 226, 231, 1);
  --ld-gray-225-rgb: 225 226 231;
  --ld-gray-250: rgba(219, 220, 225, 1);
  --ld-gray-250-rgb: 219 220 225;
  --ld-gray-300: rgba(234, 235, 239, 1);
  --ld-gray-300-rgb: 234 235 239;
  --ld-gray-325: rgba(206, 207, 213, 1);
  --ld-gray-325-rgb: 206 207 213;
  --ld-gray-350: rgba(202, 203, 210, 1);
  --ld-gray-350-rgb: 202 203 210;
  --ld-gray-400: rgba(230, 231, 235, 1);
  --ld-gray-400-rgb: 230 231 235;
  --ld-gray-425: rgba(177, 178, 187, 1);
  --ld-gray-425-rgb: 177 178 187;
  --ld-gray-450: rgba(180, 181, 190, 1);
  --ld-gray-450-rgb: 180 181 190;
  --ld-gray-500: rgba(158, 159, 170, 1);
  --ld-gray-500-rgb: 158 159 170;
  --ld-gray-525: rgba(158, 159, 170, 1);
  --ld-gray-525-rgb: 158 159 170;
  --ld-gray-550: rgba(158, 159, 170, 1);
  --ld-gray-550-rgb: 158 159 170;
  --ld-gray-600: rgba(42, 42, 51, 1);
  --ld-gray-600-rgb: 42 42 51;
  --ld-gray-625: rgba(126, 127, 137, 1);
  --ld-gray-625-rgb: 126 127 137;
  --ld-gray-650: rgba(100, 101, 110, 1);
  --ld-gray-650-rgb: 100 101 110;
  --ld-gray-700: rgba(35, 35, 43, 1);
  --ld-gray-700-rgb: 35 35 43;
  --ld-gray-725: rgba(78, 79, 88, 1);
  --ld-gray-725-rgb: 78 79 88;
  --ld-gray-750: rgba(71, 71, 81, 1);
  --ld-gray-750-rgb: 71 71 81;
  --ld-gray-800: rgba(28, 28, 36, 1);
  --ld-gray-800-rgb: 28 28 36;
  --ld-gray-825: rgba(46, 47, 55, 1);
  --ld-gray-825-rgb: 46 47 55;
  --ld-gray-850: rgba(48, 48, 57, 1);
  --ld-gray-850-rgb: 48 48 57;
  --ld-gray-900: rgba(14, 14, 22, 1);
  --ld-gray-900-rgb: 14 14 22;
  --ld-gray-925: rgba(17, 17, 25, 1);
  --ld-gray-925-rgb: 17 17 25;
  --ld-gray-950: rgba(30, 31, 39, 1);
  --ld-gray-950-rgb: 30 31 39;
  --ld-blue-100: rgba(245, 246, 249, 1);
  --ld-blue-100-rgb: 245 246 249;
  --ld-blue-125: rgba(239, 243, 249, 1);
  --ld-blue-125-rgb: 239 243 249;
  --ld-blue-150: rgba(214, 232, 250, 1);
  --ld-blue-150-rgb: 214 232 250;
  --ld-blue-200: rgba(232, 240, 249, 1);
  --ld-blue-200-rgb: 232 240 249;
  --ld-blue-225: rgba(198, 224, 250, 1);
  --ld-blue-225-rgb: 198 224 250;
  --ld-blue-250: rgba(184, 218, 251, 1);
  --ld-blue-250-rgb: 184 218 251;
  --ld-blue-300: rgba(219, 234, 250, 1);
  --ld-blue-300-rgb: 219 234 250;
  --ld-blue-325: rgba(153, 203, 252, 1);
  --ld-blue-325-rgb: 153 203 252;
  --ld-blue-350: rgba(143, 199, 252, 1);
  --ld-blue-350-rgb: 143 199 252;
  --ld-blue-400: rgba(209, 229, 250, 1);
  --ld-blue-400-rgb: 209 229 250;
  --ld-blue-425: rgba(85, 172, 254, 1);
  --ld-blue-425-rgb: 85 172 254;
  --ld-blue-450: rgba(91, 175, 254, 1);
  --ld-blue-450-rgb: 91 175 254;
  --ld-blue-500: rgba(40, 151, 255, 1);
  --ld-blue-500-rgb: 40 151 255;
  --ld-blue-525: rgba(40, 151, 255, 1);
  --ld-blue-525-rgb: 40 151 255;
  --ld-blue-550: rgba(40, 151, 255, 1);
  --ld-blue-550-rgb: 40 151 255;
  --ld-blue-600: rgba(18, 41, 68, 1);
  --ld-blue-600-rgb: 18 41 68;
  --ld-blue-625: rgba(34, 121, 204, 1);
  --ld-blue-625-rgb: 34 121 204;
  --ld-blue-650: rgba(29, 96, 161, 1);
  --ld-blue-650-rgb: 29 96 161;
  --ld-blue-700: rgba(17, 34, 56, 1);
  --ld-blue-700-rgb: 17 34 56;
  --ld-blue-725: rgba(25, 75, 126, 1);
  --ld-blue-725-rgb: 25 75 126;
  --ld-blue-750: rgba(24, 68, 115, 1);
  --ld-blue-750-rgb: 24 68 115;
  --ld-blue-800: rgba(16, 27, 44, 1);
  --ld-blue-800-rgb: 16 27 44;
  --ld-blue-825: rgba(19, 45, 75, 1);
  --ld-blue-825-rgb: 19 45 75;
  --ld-blue-850: rgba(19, 46, 77, 1);
  --ld-blue-850-rgb: 19 46 77;
  --ld-blue-900: rgba(13, 14, 23, 1);
  --ld-blue-900-rgb: 13 14 23;
  --ld-blue-925: rgba(14, 17, 28, 1);
  --ld-blue-925-rgb: 14 17 28;
  --ld-blue-950: rgba(16, 30, 49, 1);
  --ld-blue-950-rgb: 16 30 49;
  --ld-indigo-100: rgba(245, 246, 249, 1);
  --ld-indigo-100-rgb: 245 246 249;
  --ld-indigo-125: rgba(239, 240, 249, 1);
  --ld-indigo-125-rgb: 239 240 249;
  --ld-indigo-150: rgba(215, 217, 250, 1);
  --ld-indigo-150-rgb: 215 217 250;
  --ld-indigo-200: rgba(232, 233, 249, 1);
  --ld-indigo-200-rgb: 232 233 249;
  --ld-indigo-225: rgba(198, 202, 250, 1);
  --ld-indigo-225-rgb: 198 202 250;
  --ld-indigo-250: rgba(184, 188, 251, 1);
  --ld-indigo-250-rgb: 184 188 251;
  --ld-indigo-300: rgba(220, 222, 250, 1);
  --ld-indigo-300-rgb: 220 222 250;
  --ld-indigo-325: rgba(154, 159, 252, 1);
  --ld-indigo-325-rgb: 154 159 252;
  --ld-indigo-350: rgba(144, 150, 252, 1);
  --ld-indigo-350-rgb: 144 150 252;
  --ld-indigo-400: rgba(209, 212, 250, 1);
  --ld-indigo-400-rgb: 209 212 250;
  --ld-indigo-425: rgba(87, 95, 254, 1);
  --ld-indigo-425-rgb: 87 95 254;
  --ld-indigo-450: rgba(93, 101, 254, 1);
  --ld-indigo-450-rgb: 93 101 254;
  --ld-indigo-500: rgba(42, 53, 255, 1);
  --ld-indigo-500-rgb: 42 53 255;
  --ld-indigo-525: rgba(42, 53, 255, 1);
  --ld-indigo-525-rgb: 42 53 255;
  --ld-indigo-550: rgba(42, 53, 255, 1);
  --ld-indigo-550-rgb: 42 53 255;
  --ld-indigo-600: rgba(19, 21, 68, 1);
  --ld-indigo-600-rgb: 19 21 68;
  --ld-indigo-625: rgba(36, 44, 204, 1);
  --ld-indigo-625-rgb: 36 44 204;
  --ld-indigo-650: rgba(30, 37, 161, 1);
  --ld-indigo-650-rgb: 30 37 161;
  --ld-indigo-700: rgba(17, 19, 56, 1);
  --ld-indigo-700-rgb: 17 19 56;
  --ld-indigo-725: rgba(26, 31, 126, 1);
  --ld-indigo-725-rgb: 26 31 126;
  --ld-indigo-750: rgba(25, 29, 115, 1);
  --ld-indigo-750-rgb: 25 29 115;
  --ld-indigo-800: rgba(16, 17, 44, 1);
  --ld-indigo-800-rgb: 16 17 44;
  --ld-indigo-825: rgba(20, 22, 75, 1);
  --ld-indigo-825-rgb: 20 22 75;
  --ld-indigo-850: rgba(20, 23, 77, 1);
  --ld-indigo-850-rgb: 20 23 77;
  --ld-indigo-900: rgba(13, 13, 23, 1);
  --ld-indigo-900-rgb: 13 13 23;
  --ld-indigo-925: rgba(14, 14, 28, 1);
  --ld-indigo-925-rgb: 14 14 28;
  --ld-indigo-950: rgba(16, 18, 49, 1);
  --ld-indigo-950-rgb: 16 18 49;
  --ld-purple-100: rgba(245, 246, 249, 1);
  --ld-purple-100-rgb: 245 246 249;
  --ld-purple-125: rgba(243, 241, 248, 1);
  --ld-purple-125-rgb: 243 241 248;
  --ld-purple-150: rgba(233, 219, 246, 1);
  --ld-purple-150-rgb: 233 219 246;
  --ld-purple-200: rgba(240, 234, 248, 1);
  --ld-purple-200-rgb: 240 234 248;
  --ld-purple-225: rgba(227, 205, 244, 1);
  --ld-purple-225-rgb: 227 205 244;
  --ld-purple-250: rgba(222, 192, 242, 1);
  --ld-purple-250-rgb: 222 192 242;
  --ld-purple-300: rgba(235, 224, 246, 1);
  --ld-purple-300-rgb: 235 224 246;
  --ld-purple-325: rgba(210, 165, 239, 1);
  --ld-purple-325-rgb: 210 165 239;
  --ld-purple-350: rgba(207, 157, 238, 1);
  --ld-purple-350-rgb: 207 157 238;
  --ld-purple-400: rgba(232, 215, 245, 1);
  --ld-purple-400-rgb: 232 215 245;
  --ld-purple-425: rgba(185, 106, 232, 1);
  --ld-purple-425-rgb: 185 106 232;
  --ld-purple-450: rgba(187, 112, 233, 1);
  --ld-purple-450-rgb: 187 112 233;
  --ld-purple-500: rgba(168, 67, 227, 1);
  --ld-purple-500-rgb: 168 67 227;
  --ld-purple-525: rgba(168, 67, 227, 1);
  --ld-purple-525-rgb: 168 67 227;
  --ld-purple-550: rgba(168, 67, 227, 1);
  --ld-purple-550-rgb: 168 67 227;
  --ld-purple-600: rgba(44, 24, 62, 1);
  --ld-purple-600-rgb: 44 24 62;
  --ld-purple-625: rgba(134, 55, 182, 1);
  --ld-purple-625-rgb: 134 55 182;
  --ld-purple-650: rgba(106, 45, 145, 1);
  --ld-purple-650-rgb: 106 45 145;
  --ld-purple-700: rgba(36, 21, 52, 1);
  --ld-purple-700-rgb: 36 21 52;
  --ld-purple-725: rgba(83, 37, 114, 1);
  --ld-purple-725-rgb: 83 37 114;
  --ld-purple-750: rgba(75, 35, 103, 1);
  --ld-purple-750-rgb: 75 35 103;
  --ld-purple-800: rgba(29, 18, 42, 1);
  --ld-purple-800-rgb: 29 18 42;
  --ld-purple-825: rgba(49, 25, 68, 1);
  --ld-purple-825-rgb: 49 25 68;
  --ld-purple-850: rgba(50, 26, 70, 1);
  --ld-purple-850-rgb: 50 26 70;
  --ld-purple-900: rgba(15, 14, 23, 1);
  --ld-purple-900-rgb: 15 14 23;
  --ld-purple-925: rgba(18, 15, 27, 1);
  --ld-purple-925-rgb: 18 15 27;
  --ld-purple-950: rgba(32, 19, 46, 1);
  --ld-purple-950-rgb: 32 19 46;
  --ld-pink-100: rgba(245, 246, 249, 1);
  --ld-pink-100-rgb: 245 246 249;
  --ld-pink-125: rgba(245, 239, 246, 1);
  --ld-pink-125-rgb: 245 239 246;
  --ld-pink-150: rgba(243, 213, 232, 1);
  --ld-pink-150-rgb: 243 213 232;
  --ld-pink-200: rgba(244, 232, 242, 1);
  --ld-pink-200-rgb: 244 232 242;
  --ld-pink-225: rgba(242, 196, 223, 1);
  --ld-pink-225-rgb: 242 196 223;
  --ld-pink-250: rgba(241, 180, 215, 1);
  --ld-pink-250-rgb: 241 180 215;
  --ld-pink-300: rgba(244, 219, 235, 1);
  --ld-pink-300-rgb: 244 219 235;
  --ld-pink-325: rgba(240, 147, 198, 1);
  --ld-pink-325-rgb: 240 147 198;
  --ld-pink-350: rgba(239, 137, 193, 1);
  --ld-pink-350-rgb: 239 137 193;
  --ld-pink-400: rgba(243, 208, 229, 1);
  --ld-pink-400-rgb: 243 208 229;
  --ld-pink-425: rgba(236, 75, 161, 1);
  --ld-pink-425-rgb: 236 75 161;
  --ld-pink-450: rgba(236, 82, 164, 1);
  --ld-pink-450-rgb: 236 82 164;
  --ld-pink-500: rgba(233, 27, 136, 1);
  --ld-pink-500-rgb: 233 27 136;
  --ld-pink-525: rgba(233, 27, 136, 1);
  --ld-pink-525-rgb: 233 27 136;
  --ld-pink-550: rgba(233, 27, 136, 1);
  --ld-pink-550-rgb: 233 27 136;
  --ld-pink-600: rgba(57, 16, 44, 1);
  --ld-pink-600-rgb: 57 16 44;
  --ld-pink-625: rgba(185, 24, 111, 1);
  --ld-pink-625-rgb: 185 24 111;
  --ld-pink-650: rgba(145, 21, 90, 1);
  --ld-pink-650-rgb: 145 21 90;
  --ld-pink-700: rgba(46, 15, 38, 1);
  --ld-pink-700-rgb: 46 15 38;
  --ld-pink-725: rgba(112, 19, 73, 1);
  --ld-pink-725-rgb: 112 19 73;
  --ld-pink-750: rgba(101, 19, 67, 1);
  --ld-pink-750-rgb: 101 19 67;
  --ld-pink-800: rgba(35, 14, 33, 1);
  --ld-pink-800-rgb: 35 14 33;
  --ld-pink-825: rgba(64, 16, 47, 1);
  --ld-pink-825-rgb: 64 16 47;
  --ld-pink-850: rgba(66, 16, 49, 1);
  --ld-pink-850-rgb: 66 16 49;
  --ld-pink-900: rgba(15, 13, 22, 1);
  --ld-pink-900-rgb: 15 13 22;
  --ld-pink-925: rgba(20, 13, 24, 1);
  --ld-pink-925-rgb: 20 13 24;
  --ld-pink-950: rgba(39, 15, 35, 1);
  --ld-pink-950-rgb: 39 15 35;
  --ld-red-100: rgba(245, 246, 249, 1);
  --ld-red-100-rgb: 245 246 249;
  --ld-red-125: rgba(245, 241, 244, 1);
  --ld-red-125-rgb: 245 241 244;
  --ld-red-150: rgba(247, 221, 223, 1);
  --ld-red-150-rgb: 247 221 223;
  --ld-red-200: rgba(246, 235, 238, 1);
  --ld-red-200-rgb: 246 235 238;
  --ld-red-225: rgba(247, 207, 209, 1);
  --ld-red-225-rgb: 247 207 209;
  --ld-red-250: rgba(248, 195, 197, 1);
  --ld-red-250-rgb: 248 195 197;
  --ld-red-300: rgba(246, 225, 227, 1);
  --ld-red-300-rgb: 246 225 227;
  --ld-red-325: rgba(250, 170, 171, 1);
  --ld-red-325-rgb: 250 170 171;
  --ld-red-350: rgba(250, 161, 163, 1);
  --ld-red-350-rgb: 250 161 163;
  --ld-red-400: rgba(247, 216, 219, 1);
  --ld-red-400-rgb: 247 216 219;
  --ld-red-425: rgba(253, 113, 114, 1);
  --ld-red-425-rgb: 253 113 114;
  --ld-red-450: rgba(253, 119, 119, 1);
  --ld-red-450-rgb: 253 119 119;
  --ld-red-500: rgba(255, 76, 76, 1);
  --ld-red-500-rgb: 255 76 76;
  --ld-red-525: rgba(255, 76, 76, 1);
  --ld-red-525-rgb: 255 76 76;
  --ld-red-550: rgba(255, 76, 76, 1);
  --ld-red-550-rgb: 255 76 76;
  --ld-red-600: rgba(61, 26, 32, 1);
  --ld-red-600-rgb: 61 26 32;
  --ld-red-625: rgba(202, 62, 64, 1);
  --ld-red-625-rgb: 202 62 64;
  --ld-red-650: rgba(158, 51, 54, 1);
  --ld-red-650-rgb: 158 51 54;
  --ld-red-700: rgba(49, 22, 29, 1);
  --ld-red-700-rgb: 49 22 29;
  --ld-red-725: rgba(122, 41, 46, 1);
  --ld-red-725-rgb: 122 41 46;
  --ld-red-750: rgba(110, 38, 43, 1);
  --ld-red-750-rgb: 110 38 43;
  --ld-red-800: rgba(37, 19, 27, 1);
  --ld-red-800-rgb: 37 19 27;
  --ld-red-825: rgba(69, 27, 34, 1);
  --ld-red-825-rgb: 69 27 34;
  --ld-red-850: rgba(71, 28, 34, 1);
  --ld-red-850-rgb: 71 28 34;
  --ld-red-900: rgba(15, 14, 22, 1);
  --ld-red-900-rgb: 15 14 22;
  --ld-red-925: rgba(20, 15, 23, 1);
  --ld-red-925-rgb: 20 15 23;
  --ld-red-950: rgba(42, 21, 28, 1);
  --ld-red-950-rgb: 42 21 28;
  --ld-orange-100: rgba(245, 246, 249, 1);
  --ld-orange-100-rgb: 245 246 249;
  --ld-orange-125: rgba(245, 242, 242, 1);
  --ld-orange-125-rgb: 245 242 242;
  --ld-orange-150: rgba(247, 228, 212, 1);
  --ld-orange-150-rgb: 247 228 212;
  --ld-orange-200: rgba(246, 238, 233, 1);
  --ld-orange-200-rgb: 246 238 233;
  --ld-orange-225: rgba(247, 219, 192, 1);
  --ld-orange-225-rgb: 247 219 192;
  --ld-orange-250: rgba(248, 211, 174, 1);
  --ld-orange-250-rgb: 248 211 174;
  --ld-orange-300: rgba(246, 231, 218, 1);
  --ld-orange-300-rgb: 246 231 218;
  --ld-orange-325: rgba(250, 193, 137, 1);
  --ld-orange-325-rgb: 250 193 137;
  --ld-orange-350: rgba(250, 187, 125, 1);
  --ld-orange-350-rgb: 250 187 125;
  --ld-orange-400: rgba(247, 225, 205, 1);
  --ld-orange-400-rgb: 247 225 205;
  --ld-orange-425: rgba(253, 154, 55, 1);
  --ld-orange-425-rgb: 253 154 55;
  --ld-orange-450: rgba(253, 158, 62, 1);
  --ld-orange-450-rgb: 253 158 62;
  --ld-orange-500: rgba(255, 128, 0, 1);
  --ld-orange-500-rgb: 255 128 0;
  --ld-orange-525: rgba(255, 128, 0, 1);
  --ld-orange-525-rgb: 255 128 0;
  --ld-orange-550: rgba(255, 128, 0, 1);
  --ld-orange-550-rgb: 255 128 0;
  --ld-orange-600: rgba(61, 36, 17, 1);
  --ld-orange-600-rgb: 61 36 17;
  --ld-orange-625: rgba(202, 103, 5, 1);
  --ld-orange-625-rgb: 202 103 5;
  --ld-orange-650: rgba(158, 82, 8, 1);
  --ld-orange-650-rgb: 158 82 8;
  --ld-orange-700: rgba(49, 30, 18, 1);
  --ld-orange-700-rgb: 49 30 18;
  --ld-orange-725: rgba(122, 65, 12, 1);
  --ld-orange-725-rgb: 122 65 12;
  --ld-orange-750: rgba(110, 59, 13, 1);
  --ld-orange-750-rgb: 110 59 13;
  --ld-orange-800: rgba(37, 25, 19, 1);
  --ld-orange-800-rgb: 37 25 19;
  --ld-orange-825: rgba(69, 39, 16, 1);
  --ld-orange-825-rgb: 69 39 16;
  --ld-orange-850: rgba(71, 41, 16, 1);
  --ld-orange-850-rgb: 71 41 16;
  --ld-orange-900: rgba(15, 14, 21, 1);
  --ld-orange-900-rgb: 15 14 21;
  --ld-orange-925: rgba(20, 16, 20, 1);
  --ld-orange-925-rgb: 20 16 20;
  --ld-orange-950: rgba(42, 27, 18, 1);
  --ld-orange-950-rgb: 42 27 18;
  --ld-yellow-100: rgba(245, 246, 249, 1);
  --ld-yellow-100-rgb: 245 246 249;
  --ld-yellow-125: rgba(245, 245, 242, 1);
  --ld-yellow-125-rgb: 245 245 242;
  --ld-yellow-150: rgba(247, 240, 212, 1);
  --ld-yellow-150-rgb: 247 240 212;
  --ld-yellow-200: rgba(246, 244, 233, 1);
  --ld-yellow-200-rgb: 246 244 233;
  --ld-yellow-225: rgba(247, 237, 192, 1);
  --ld-yellow-225-rgb: 247 237 192;
  --ld-yellow-250: rgba(248, 235, 174, 1);
  --ld-yellow-250-rgb: 248 235 174;
  --ld-yellow-300: rgba(246, 241, 218, 1);
  --ld-yellow-300-rgb: 246 241 218;
  --ld-yellow-325: rgba(250, 229, 137, 1);
  --ld-yellow-325-rgb: 250 229 137;
  --ld-yellow-350: rgba(250, 227, 125, 1);
  --ld-yellow-350-rgb: 250 227 125;
  --ld-yellow-400: rgba(247, 239, 205, 1);
  --ld-yellow-400-rgb: 247 239 205;
  --ld-yellow-425: rgba(253, 216, 55, 1);
  --ld-yellow-425-rgb: 253 216 55;
  --ld-yellow-450: rgba(253, 218, 62, 1);
  --ld-yellow-450-rgb: 253 218 62;
  --ld-yellow-500: rgba(255, 208, 0, 1);
  --ld-yellow-500-rgb: 255 208 0;
  --ld-yellow-525: rgba(255, 208, 0, 1);
  --ld-yellow-525-rgb: 255 208 0;
  --ld-yellow-550: rgba(255, 208, 0, 1);
  --ld-yellow-550-rgb: 255 208 0;
  --ld-yellow-600: rgba(61, 52, 17, 1);
  --ld-yellow-600-rgb: 61 52 17;
  --ld-yellow-625: rgba(202, 165, 5, 1);
  --ld-yellow-625-rgb: 202 165 5;
  --ld-yellow-650: rgba(158, 130, 8, 1);
  --ld-yellow-650-rgb: 158 130 8;
  --ld-yellow-700: rgba(49, 42, 18, 1);
  --ld-yellow-700-rgb: 49 42 18;
  --ld-yellow-725: rgba(122, 101, 12, 1);
  --ld-yellow-725-rgb: 122 101 12;
  --ld-yellow-750: rgba(110, 91, 13, 1);
  --ld-yellow-750-rgb: 110 91 13;
  --ld-yellow-800: rgba(37, 33, 19, 1);
  --ld-yellow-800-rgb: 37 33 19;
  --ld-yellow-825: rgba(69, 58, 16, 1);
  --ld-yellow-825-rgb: 69 58 16;
  --ld-yellow-850: rgba(71, 60, 16, 1);
  --ld-yellow-850-rgb: 71 60 16;
  --ld-yellow-900: rgba(15, 15, 21, 1);
  --ld-yellow-900-rgb: 15 15 21;
  --ld-yellow-925: rgba(20, 19, 20, 1);
  --ld-yellow-925-rgb: 20 19 20;
  --ld-yellow-950: rgba(42, 36, 18, 1);
  --ld-yellow-950-rgb: 42 36 18;
  --ld-green-100: rgba(245, 246, 249, 1);
  --ld-green-100-rgb: 245 246 249;
  --ld-green-125: rgba(240, 245, 245, 1);
  --ld-green-125-rgb: 240 245 245;
  --ld-green-150: rgba(219, 241, 229, 1);
  --ld-green-150-rgb: 219 241 229;
  --ld-green-200: rgba(234, 244, 240, 1);
  --ld-green-200-rgb: 234 244 240;
  --ld-green-225: rgba(205, 238, 218, 1);
  --ld-green-225-rgb: 205 238 218;
  --ld-green-250: rgba(192, 236, 209, 1);
  --ld-green-250-rgb: 192 236 209;
  --ld-green-300: rgba(223, 242, 232, 1);
  --ld-green-300-rgb: 223 242 232;
  --ld-green-325: rgba(166, 230, 189, 1);
  --ld-green-325-rgb: 166 230 189;
  --ld-green-350: rgba(157, 229, 183, 1);
  --ld-green-350-rgb: 157 229 183;
  --ld-green-400: rgba(214, 240, 226, 1);
  --ld-green-400-rgb: 214 240 226;
  --ld-green-425: rgba(108, 219, 145, 1);
  --ld-green-425-rgb: 108 219 145;
  --ld-green-450: rgba(113, 220, 149, 1);
  --ld-green-450-rgb: 113 220 149;
  --ld-green-500: rgba(69, 211, 116, 1);
  --ld-green-500-rgb: 69 211 116;
  --ld-green-525: rgba(69, 211, 116, 1);
  --ld-green-525-rgb: 69 211 116;
  --ld-green-550: rgba(69, 211, 116, 1);
  --ld-green-550-rgb: 69 211 116;
  --ld-green-600: rgba(24, 53, 40, 1);
  --ld-green-600-rgb: 24 53 40;
  --ld-green-625: rgba(57, 167, 95, 1);
  --ld-green-625-rgb: 57 167 95;
  --ld-green-650: rgba(47, 132, 78, 1);
  --ld-green-650-rgb: 47 132 78;
  --ld-green-700: rgba(21, 43, 35, 1);
  --ld-green-700-rgb: 21 43 35;
  --ld-green-725: rgba(38, 102, 64, 1);
  --ld-green-725-rgb: 38 102 64;
  --ld-green-750: rgba(35, 92, 59, 1);
  --ld-green-750-rgb: 35 92 59;
  --ld-green-800: rgba(19, 33, 31, 1);
  --ld-green-800-rgb: 19 33 31;
  --ld-green-825: rgba(26, 59, 43, 1);
  --ld-green-825-rgb: 26 59 43;
  --ld-green-850: rgba(26, 61, 44, 1);
  --ld-green-850-rgb: 26 61 44;
  --ld-green-900: rgba(14, 15, 22, 1);
  --ld-green-900-rgb: 14 15 22;
  --ld-green-925: rgba(15, 19, 24, 1);
  --ld-green-925-rgb: 15 19 24;
  --ld-green-950: rgba(20, 37, 32, 1);
  --ld-green-950-rgb: 20 37 32;
  --ld-teal-100: rgba(245, 246, 249, 1);
  --ld-teal-100-rgb: 245 246 249;
  --ld-teal-125: rgba(239, 246, 246, 1);
  --ld-teal-125-rgb: 239 246 246;
  --ld-teal-150: rgba(214, 247, 236, 1);
  --ld-teal-150-rgb: 214 247 236;
  --ld-teal-200: rgba(231, 247, 243, 1);
  --ld-teal-200-rgb: 231 247 243;
  --ld-teal-225: rgba(197, 248, 229, 1);
  --ld-teal-225-rgb: 197 248 229;
  --ld-teal-250: rgba(182, 249, 223, 1);
  --ld-teal-250-rgb: 182 249 223;
  --ld-teal-300: rgba(219, 247, 238, 1);
  --ld-teal-300-rgb: 219 247 238;
  --ld-teal-325: rgba(151, 250, 210, 1);
  --ld-teal-325-rgb: 151 250 210;
  --ld-teal-350: rgba(140, 251, 206, 1);
  --ld-teal-350-rgb: 140 251 206;
  --ld-teal-400: rgba(208, 248, 234, 1);
  --ld-teal-400-rgb: 208 248 234;
  --ld-teal-425: rgba(81, 253, 182, 1);
  --ld-teal-425-rgb: 81 253 182;
  --ld-teal-450: rgba(88, 253, 185, 1);
  --ld-teal-450-rgb: 88 253 185;
  --ld-teal-500: rgba(35, 255, 163, 1);
  --ld-teal-500-rgb: 35 255 163;
  --ld-teal-525: rgba(35, 255, 163, 1);
  --ld-teal-525-rgb: 35 255 163;
  --ld-teal-550: rgba(35, 255, 163, 1);
  --ld-teal-550-rgb: 35 255 163;
  --ld-teal-600: rgba(17, 61, 49, 1);
  --ld-teal-600-rgb: 17 61 49;
  --ld-teal-625: rgba(30, 202, 132, 1);
  --ld-teal-625-rgb: 30 202 132;
  --ld-teal-650: rgba(26, 158, 106, 1);
  --ld-teal-650-rgb: 26 158 106;
  --ld-teal-700: rgba(16, 49, 42, 1);
  --ld-teal-700-rgb: 16 49 42;
  --ld-teal-725: rgba(23, 122, 85, 1);
  --ld-teal-725-rgb: 23 122 85;
  --ld-teal-750: rgba(22, 110, 78, 1);
  --ld-teal-750-rgb: 22 110 78;
  --ld-teal-800: rgba(15, 37, 35, 1);
  --ld-teal-800-rgb: 15 37 35;
  --ld-teal-825: rgba(18, 69, 54, 1);
  --ld-teal-825-rgb: 18 69 54;
  --ld-teal-850: rgba(18, 71, 55, 1);
  --ld-teal-850-rgb: 18 71 55;
  --ld-teal-900: rgba(13, 15, 22, 1);
  --ld-teal-900-rgb: 13 15 22;
  --ld-teal-925: rgba(14, 20, 25, 1);
  --ld-teal-925-rgb: 14 20 25;
  --ld-teal-950: rgba(16, 42, 38, 1);
  --ld-teal-950-rgb: 16 42 38;
  --ld-cyan-100: rgba(245, 246, 249, 1);
  --ld-cyan-100-rgb: 245 246 249;
  --ld-cyan-125: rgba(238, 246, 249, 1);
  --ld-cyan-125-rgb: 238 246 249;
  --ld-cyan-150: rgba(208, 245, 250, 1);
  --ld-cyan-150-rgb: 208 245 250;
  --ld-cyan-200: rgba(229, 245, 249, 1);
  --ld-cyan-200-rgb: 229 245 249;
  --ld-cyan-225: rgba(189, 244, 250, 1);
  --ld-cyan-225-rgb: 189 244 250;
  --ld-cyan-250: rgba(172, 244, 251, 1);
  --ld-cyan-250-rgb: 172 244 251;
  --ld-cyan-300: rgba(214, 245, 250, 1);
  --ld-cyan-300-rgb: 214 245 250;
  --ld-cyan-325: rgba(135, 242, 252, 1);
  --ld-cyan-325-rgb: 135 242 252;
  --ld-cyan-350: rgba(123, 242, 252, 1);
  --ld-cyan-350-rgb: 123 242 252;
  --ld-cyan-400: rgba(202, 245, 250, 1);
  --ld-cyan-400-rgb: 202 245 250;
  --ld-cyan-425: rgba(54, 240, 254, 1);
  --ld-cyan-425-rgb: 54 240 254;
  --ld-cyan-450: rgba(61, 240, 254, 1);
  --ld-cyan-450-rgb: 61 240 254;
  --ld-cyan-500: rgba(0, 238, 255, 1);
  --ld-cyan-500-rgb: 0 238 255;
  --ld-cyan-525: rgba(0, 238, 255, 1);
  --ld-cyan-525-rgb: 0 238 255;
  --ld-cyan-550: rgba(0, 238, 255, 1);
  --ld-cyan-550-rgb: 0 238 255;
  --ld-cyan-600: rgba(10, 58, 68, 1);
  --ld-cyan-600-rgb: 10 58 68;
  --ld-cyan-625: rgba(3, 189, 204, 1);
  --ld-cyan-625-rgb: 3 189 204;
  --ld-cyan-650: rgba(5, 148, 161, 1);
  --ld-cyan-650-rgb: 5 148 161;
  --ld-cyan-700: rgba(11, 47, 56, 1);
  --ld-cyan-700-rgb: 11 47 56;
  --ld-cyan-725: rgba(7, 114, 126, 1);
  --ld-cyan-725-rgb: 7 114 126;
  --ld-cyan-750: rgba(8, 103, 115, 1);
  --ld-cyan-750-rgb: 8 103 115;
  --ld-cyan-800: rgba(12, 36, 44, 1);
  --ld-cyan-800-rgb: 12 36 44;
  --ld-cyan-825: rgba(10, 65, 75, 1);
  --ld-cyan-825-rgb: 10 65 75;
  --ld-cyan-850: rgba(10, 67, 77, 1);
  --ld-cyan-850-rgb: 10 67 77;
  --ld-cyan-900: rgba(13, 15, 23, 1);
  --ld-cyan-900-rgb: 13 15 23;
  --ld-cyan-925: rgba(13, 20, 28, 1);
  --ld-cyan-925-rgb: 13 20 28;
  --ld-cyan-950: rgba(11, 40, 49, 1);
  --ld-cyan-950-rgb: 11 40 49;
}
