.icon {
    width: 24px;
    height: 24px;
    display: inline-block;
}

.wp-list-table .column-icon {
    width: 28px;
}

.wp-list-table td.column-icon {
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
}
