<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"ld-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group ld-main">
  <!-- wp:group {"className":"container py-4","layout":{"type":"default"}} -->
  <div class="wp-block-group container py-4">
    <!-- wp:post-content {"layout":{"type":"default"}} /-->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->